.movielist{   
    display:flex;
    flex-direction: column;   
    padding-left: 10px;
}
.list1{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.topic-title{
    font-weight: 600;
    padding-top:0.25rem;
}
.moviecards{
    display:flex;
    gap:0.5rem;
    overflow-x:hidden;
}
.movieimg{
    width:140px;
    border-radius: 0.25rem;
    cursor:pointer;
    position: relative;
}
.moviename{
    font-size: small;
    font-weight: 500;
}

