.player-container{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.back-arrow{
    position:absolute;
    top:20px;
    left:20px;
    cursor: pointer;
    color:white;
}
.player-video{
    width:95%;
    height:95%;
    border:0px;
    border-radius: 0.5rem;
}
